.bg-custom {
    background-image: linear-gradient(15deg, #0066ff 0%, #00bfff 100%);
}

main {
    background-color: #e6f9ff;
}

.jumbotron {
    background-color:transparent !important;
}

.album {
    background-color:transparent !important;
}

.container {
    background-color: #e6f9ff;
}

#three-columns {
    text-align: center;
}