
body {
  background-color: #6699ff;
}

h1 {
    font-family: "Impact";
    color: #ff99ff;
}

p, h2, h3, h4  {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #d999ff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

form { 
    background: #ff99ff;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
}
    h2 {
            font-family: "Impact";
            color: #6699ff;
    }

.alert {
  padding: 5px;
  text-align: center;
  background-color: rgb(255,255,0);
  color: #6699ff;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: #6699ff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.title-alt {
    color: #6699ff; 
    background: #ff99ff;
    text-align: center;
}
