    body {
        background-color: whitesmoke;
        color: #484848;
    }

/* Nav Bar */

    .navbar-brand, .navbar-dark {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        color: whitesmoke;
    }

    .bg-custom {
        background-image: linear-gradient(15deg, #0066ff 0%, #00bfff 100%);
    }

    .newsletter-button {
        color: whitesmoke;
        background-color: #9951E0;
        border: 0px;
    }

/* Footer */

    .footer {
    background: #061D25;
    padding: 10px 0;
    }
    .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
    }
    .footer a:first-child {
    border-left: 1px solid #70726F;
    }
    .footer a:hover {
    color: whitesmoke;
    }

/* Jumbotron Low Poly Background */

    .jumbotron {
        background-image: url("../images/bkgd-jumbo.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

/* Font Styles */

    h1, h2 {
        font-family: 'Oswald', Helvetica, Arial, sans-serif;
        color: whitesmoke;
    }

    h3, h4 {
        font-family: 'Oswald', Helvetica, Arial, sans-serif;
    }

    h5, p {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
    }

    h4,td {
        color: #484848;
    }

/* Media Rule Breakpoints */

/* Extra small devices */

@media (max-width: 575.98px) {

    .display-4 { 
        font-size: 2rem;
    }

    .lead { 
        display: none;
    }

    .lead-xs-small {
        display: inline;
        font-weight: 500;
    }

    .carousel-item h1 {
        font-size: 2rem;
    }
}

/* Small devices and up */

@media (min-width: 576px) {
    .lead-xs-small {
        display: none;
    }
}

/* Medium devices and up */

@media (min-width: 768px) {
    .carousel-item h1 {
        font-size: 3rem;
    }
}

/* Large devices and up */

@media (min-width: 992px) {
     .carousel-item h1 {
        margin-bottom: 2.5rem;
    }   
}