body {
  background-color: gray;
  }

canvas {
    border-top: 10px solid #495057;
    border-right: 10px solid #212529;
    border-bottom: 10px solid #495057;
    border-left: 10px solid #212529;
}

button {
    color: #212529;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-style: italic;
}