body {
    background-color: #343a40;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 44px;
}

h4 {
    font-size: 32px;
}

p, footer.p, .lead {
  font-size: 20px;  
}

p, li, label, button {
    font-family: 'Roboto Slab', serif;
}

.text-black {
    color: black;
    text-shadow: 0px 0px 2px #FFFFFF;
}

.dropdown-item.active {
    background-color: gray;
}

.hat-store {
    color:rgba(255,255,255,.5);
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}

/* .brand-size {
    font-size: 1.5rem;
} */

.border-custom {
    border-image-source: linear-gradient(90deg, #343a40, #6c757d, #343a40);
    border-image-slice: 1;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* animation - logo */

.animate-logo {
    animation-name: change-black-white;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes change-black-white {
    0% {
        transform: rotate(0deg);
        fill: white;
    }

    20% {
        transform: rotate(0deg);
        fill: white;
    }

    25% {
        fill: black;
    }

    30% {
        transform: rotate(180deg)
    }

    70% {
        transform: rotate(180deg)
    }

    75% {
        fill: black;
    }

    80% {
        transform: rotate(360deg);
        fill: white;
    }

    100% {
        transform: rotate(360deg);
        fill: white;
    }
}

/* logo - black & white */

.logo-black {
    fill: black;
}

.logo-white {
    fill: white;
}

/* arrow rotation */

.arrow-rotate {
    transform: rotate(180deg);
}

/* BLOG PAGE */

.blog-post, .check-out-color {
    background-color: lightgray;
}

/* CHECKOUT PAGE */

.nav-checkout {
    background-color:#343a40;
}

.container-checkout {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}

/* HOME PAGE */

    /* album css */

    .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    }

    .jumbotron p:last-child {
    margin-bottom: 0;
    }

    .jumbotron-heading {
    font-weight: 300;
    }

    .jumbotron .container {
    max-width: 40rem;
    }

/* Carousel & Black & White Hat Pages */

/* .carousel-item .img-fluid {
  width:100%;
  height:100%;
} */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.black-hero {
    border: 1px solid #999999;
}

.white-hero {
    border: 1px solid #999999;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {

    /* Black & White Hat Pages */
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    /* Carousel */
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}

/* RESPONSIVE CSS - Featurettes
-------------------------------------------------- */

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}