body {
    /* background-color: #999999; */
    /* use check-ou color? #343a40 */
    background-color: lightgray;
}

h1, h2, h3, h4, h5, h6, .featurette-heading {
    font-family: 'Oswald', sans-serif;
    color: white;
}

p, a{
    color: #212529;
}
.border-custom {
    border-image-source: linear-gradient(90deg, lightgray, #212529, lightgray);
    border-image-slice: 1;
}