.jumbotron-fluid {
    background-image: linear-gradient(-170deg,red,yellow,dodgerblue);
    min-height: 500px;
}

.display-3 {
    font-size: 120px;
    font-weight: bold;
    font-style: oblique; 
    color: purple;
}

/* .jumbotron {
    background-image: linear-gradient(45deg,azure 10%,dodgerblue 20%, indigo 60%);
} */

/* .jumbotron {
    background-image: repeating-linear-gradient(45deg,azure,dodgerblue 20%, orange 30%, dodgerblue 40%, azure 50%);
} */

/* .jumbotron {
    background-image: radial-gradient(farthest-side at 75% 75%, black 5%, blue 30%, red 80%);
} */

/* .jumbotron {
    background-image: repeating-radial-gradient( black, blue 10%, red 15%);
} */


.field {
    min-height: 500px;
    background-color: darkturquoise;
}

.thing {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    animation-name: motion1;
    animation-duration: 3.5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes motion1 {

    0% {
        background-color: blue;
        top: -100px;
        left: -600px;
    }

    25% {
        background-color: red;
        top: 800px;
        left: 800px;
    }

    100% {
        background-color: green;
        top: -600px;
        left: 1800px;
    }
}