.bg-dark    {
    background-color: rgb(153, 153, 102) !important;
}
.jumbotron {
    background-color:transparent !important;
}

.container-fluid {
    background-color: rgb(153, 153, 102);
}

.row :disabled {
    background-color: cornsilk;
}

[class^="col-"]:first-child :disabled {
    background-color: aquamarine;
}

[class^="col-"]:nth-child(2) :disabled {
    background-color: rgb(253, 255, 127);
}

[class^="col-"]:last-child :disabled {
    background-color: salmon;
}

h1 {
	font-family: "Impact";
    color: rgb(153, 153, 102);
}

h2 {
	font-family: "Impact", serif;
    color: whitesmoke;
}

p, ul   {
    font-family: 'Montserrat', sans-serif;
}

.lead   {
    color: rgb(153, 153, 102);
}

